@{
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="~/assets/img/log.png" type="image/x-icon">
    @Styles.Render("~/assets/basiccss")
    <link id="bootstrap-rtl-link" href="#" rel="stylesheet" />
    @Styles.Render("~/assets/beyondcss")
    <script src="~/assets/js/skins.min.js"></script>
</head>
<body  >
    <div class="loading-container">
        <div class="loader"></div>
    </div>
@RenderBody()
    @Scripts.Render("~/assets/basicjs")
    @RenderSection("scripts", required: false)
    <template id="addButton">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem(title)"><i class="fa  fa-plus"></i> 新增</a>
    </template>
    <template id="searchButton">
        <a href="javascript:void(0)" class="btn btn-danger " v-on:click="search(index,filter,model)"><i class="fa fa-search"></i> 搜索</a>
        <a href="javascript:void(0)" class="btn" v-on:click="resetSearch()"><i class="fa fa-times"></i> 重置</a>
    </template>
    <template id="scommanButton">
        <a href="javascript:void(0)" class="btn   edit" v-on:click="editItem(id,model,title) "><i class="fa fa-edit"></i> 编辑</a>
        <a href="javascript:void(0)" class="btn btn-danger  " v-on:click="deleteItem(id,model,name) "><i class="fa fa-trash-o"></i> 删除</a>
    </template>
</body>

</html>

