@using System.Web.Optimization
@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-primary">
                    <span class="widget-caption">用户列表</span>
                </div>
                <div class="widget-body">
                    <div class="table-toolbar">
                        <a href="javascript:void(0);" class="btn btn-primary " id="newUser">
                            <i class="fa  fa-plus"></i> 新增
                        </a>
                    </div>
                    <div id="userGrid" class="row"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="table">
    <div class="col-md-8">
        <table class="table table-striped table-hover table-bordered ">
            <thead>
                <tr role="row">
                    <th style="width:100px;">
                        登录名
                    </th>
                    <th style="width:100px;">
                        用户名
                    </th>
                    <th >
                        角色
                    </th>
                    <th style="width:200px;">
                    </th>
                </tr>
            </thead>
            <tbody>
                {%each data.Datas as it}
                <tr>
                    <td>${it.LoginName}</td>
                    <td>${it.FullName}</td>
                    <td>${it.RoleNames}</td>
                    <td>
                        <a href="javascript:void(0)" class="btn   edit" onclick=" editUser('${it.Id}') "><i class="fa fa-edit"></i> 编辑</a>
                        <a href="javascript:void(0)" class="btn btn-danger  " onclick=" deleteUser('${it.Id}','${it.Name}') "><i class="fa fa-trash-o"></i> 删除</a>
                    </td>
                </tr>
                {%/each}
            </tbody>
            {%include  "#tfoot",data}
        </table>
    </div>
</script>
<script type="text/html" id="submitForm">
    <form id="form" class="form-horizontal" name="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">登录名</label>
                    <div class="col-sm-10">
                        <span class="input-icon icon-right">
                            <input type="text" class="form-control" placeholder="登录名" name="loginName" value="${LoginName}" />
                            <i class="glyphicon glyphicon-user blue"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">全名</label>
                    <div class="col-sm-10">
                        <span class="input-icon icon-right">
                            <input type="text" class="form-control" placeholder="全名" name="fullName" value="${FullName}" />
                            <i class="glyphicon glyphicon-user blue"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">角色</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <div class="checkbox">
                                    <label>
                                        <input name="roleIds" type="checkbox" value="@Model[0].Id" {%if RoleIds.indexOf("@Model[0].Id")>=0 }checked="checked"{%/if} >
                                        <span class="text">@Model[0].Name</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <div class="checkbox">
                                    <label>
                                        <input name="roleIds" type="checkbox" value="@Model[1].Id" {%if RoleIds.indexOf("@Model[1].Id")>=0 }checked="checked"{%/if} >
                                        <span class="text">@Model[1].Name</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <div class="checkbox">
                                    <label>
                                        <input name="roleIds" type="checkbox" value="@Model[2].Id" {%if RoleIds.indexOf("@Model[2].Id")>=0 }checked="checked"{%/if} >
                                        <span class="text">@Model[2].Name</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <div class="checkbox">
                                    <label>
                                        <input name="roleIds" type="checkbox" value="@Model[3].Id" {%if RoleIds.indexOf("@Model[3].Id")>=0 }checked="checked"{%/if} >
                                        <span class="text">@Model[3].Name</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <div class="checkbox">
                                    <label>
                                        <input name="roleIds" type="checkbox" value="@Model[4].Id" {%if RoleIds.indexOf("@Model[4].Id")>=0 }checked="checked"{%/if} >
                                        <span class="text">@Model[4].Name</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <div class="checkbox">
                                    <label>
                                        <input name="roleIds" type="checkbox" value="@Model[5].Id" {%if RoleIds.indexOf("@Model[5].Id")>=0 }checked="checked"{%/if} >
                                        <span class="text">@Model[5].Name</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="unknownError" style="display: none;">
            <div class="col-md-12">
                <div class="form-group  has-feedback has-error">
                    <div class="col-md-10 col-md-offset-2">
                        <small class="help-block"></small>
                    </div>
                </div>
            </div>
        </div>
        {%if Id==="" }
        <div class="row">
            <div class="col-md-12">
                <div class="form-group  ">
                    <div class="col-md-10 col-md-offset-2">
                        <h6 class=" row-title before-orange"><i class="fa fa-exclamation-triangle orange"></i>初始密码默认为11111111</h6>
                    </div>
                </div>
            </div>
        </div> 
        {%/if}
        <div class="row">
            <div class="col-md-12"> 
                <input type="hidden" class="form-control"  name="id" value="${Id}" />    
            </div>
        </div>

</form>
</script>
<script src="~/assets/js/app/user.js"></script>