@using Erp.Eam.Models
@model Erp.Eam.Models.Product
<form id="form" class="form-horizontal" name="form">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">商品编号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="商品编号" name="code" value="@Model.Code"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">商品名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="商品名称" name="name" value="@Model.Name"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">单位</label>
                <div class="col-sm-10">
                    <select id="unit" name="unit" style="width:100%">
                        @{
                            foreach (var item in Info.ToSelectItems(InfoCategory.Unit,false))
                            {
                                if (Model.Unit == item)
                                {
                                <option value="@item" selected="selected">@item</option>
                                }
                                else
                                {
                                <option value="@item">@item</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">辅助单位</label>
                <div class="col-sm-10">
                    <select id="unit2" name="unit2" style="width:100%">
                        @{
                                foreach (var item in Info.ToSelectItems(InfoCategory.Unit,false))
                                {
                                    if (Model.Unit2 == item)
                                    {
                                        <option value="@item" selected="selected">@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item" >@item</option>
                                    }
                                }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">商品类别</label>
                <div class="col-sm-10">
                    <select id="categoryId" name="categoryId" style="width:100%">
                        @{
                                foreach (var item in ProductCategory.ToSelectItems())
                                {
                                    if (Model.CategoryId.ToString() == item.Item1)
                                    {
                                    <option value="@item.Item1" selected="selected">@item.Item2</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Item1">@item.Item2</option>
                                    }
                                }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">商品颜色</label>
                <div class="col-sm-10">
                    <select id="color" name="color" style="width:100%">
                        @{
                                foreach (var item in Info.ToSelectItems(InfoCategory.Color,true))
                                {
                                        if (Model.Color == item)
                                        {
                                        <option value="@item" selected="selected">@item</option>
                                        }
                                        else
                                        {
                                        <option value="@item">@item</option>
                                        }
                                }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">单位换算</label>
                <div class="col-sm-10">
                    <div class="spinbox spinbox-horizontal spinbox-right">
                        <div class="spinbox-buttons	btn-group">
                            <button type="button" class="btn spinbox-down blueberry">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn spinbox-up purple">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <input type="text" class="spinbox-input form-control" name="conversion" id="conversion" required value="@Model.Conversion" />
                    </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row" id="unknownError" style="display: none;">
        <div class="col-md-12">
            <div class="form-group  has-feedback has-error">
                <div class="col-md-10 col-md-offset-2">
                    <small class="help-block"></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" class="form-control" name="id" value="@Model.Id"/>
        </div>
    </div>
</form>
